/* fonts import */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Open+Sans|Roboto&display=swap");

/* ========reset========= */
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* lists */
ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* links */
a {
  text-decoration: none;
  color: none;
}

/* ========reset========= */

/* =======navbar====== */

/* main navbar container */
.navbar {
  padding-top: 20px;
  padding-left: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

/* navbar-links (the ul with class navbar-links container) */
.navbar-links {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}

/* navabar-title (flex to take 50% of width) */
.navbar-title {
  min-width: 200px;
  flex-basis: 50%;
}

/* link li's */
.navbar-link-item {
  margin-right: 2rem;
  font-family: "Roboto", sans-serif;
}

/* each <a> in the li */
.nav-link {
  color: #000;
  transition: all 200ms;
  display: block;
}

/* a hover effect */
.nav-link:hover {
  color: #1e88e5;
}

/* collapsible toggle bars for mobile view */
/* collapsible container */
.navbar-collapsible-bars div {
  margin-right: 1rem;
  margin-bottom: 2px;
  background-color: #000;
  height: 2px;
  display: block;
  display: none;
  cursor: pointer;
}

.navbar-collapsible-bars {
  margin-right:1rem;
}

/* bar 1 */
.collapsible-bar-1 {
  width: 20px;
}
/* bar 2 */
.collapsible-bar-2 {
  width: 15px;
}
/* bar 3 */
.collapsible-bar-3 {
  width: 20px;
}
/* =================== */

/* overlay and collapsible classes */
.navbar-overlay {
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  top: 0;
  left: 0;
  transition: all 500ms;
}

.collapsible-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.collapsible-link-item {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
}

.collapsible-link {
  color: #fff;
  transition: 200ms;
}
.collapsible-link:hover {
  font-weight: bold;
}

.collapsible-close {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 3rem;
  margin-top: 2rem;
  display: block;
  cursor: pointer;
}
/* ===== overlay and collapsible classes end ====== */

/* ========= classes for monitor , home and other components ======= */
.chart-container{
  width:80%;
  height: 50%;
  margin:2rem;
}

.flex-container{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header{
  margin-top:5rem;
  font-size:1.5rem;
  font-family: 'Nunito Sans',sans-serif;
  font-weight:bold;
  margin-left:10vw;
  margin-right:10vw;
}

.description{
  margin-top:2rem;
  margin-bottom:2rem;
  margin-left:10vw;
  margin-right:10vw;
  min-width:250px;
  line-height: 2rem;
  font-family: 'Open Sans',sans-serif;
  font-size:1rem;
  font-weight:400;
}

.start-monitor{
  padding:1.1rem;
  font-size:1.2rem;
  font-family: 'Nunito Sans',sans-serif;
  font-weight: bold;
  background-color:#fff;
  border:3px solid #000;
  border-radius:12px;
  transition:400ms;
  display: block;
  margin-bottom:5rem;
}

.start-monitor:hover{
  padding:1.1rem;
  font-size:1.2rem;
  font-family: 'Nunito Sans',sans-serif;
  font-weight: bold;
  background-color:#000;
  color:#fff;
  display: block;
  margin-bottom:5rem;
}

.start-monitor:active{
  background-color:#000;
  color:#fff;
  border:none;
  display:block;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}

.about-container{
  max-width:950px;
  min-width: 250px;
  margin:auto;
  margin-top:3rem;
  margin-left:17%;
  margin-right:17%;
}

.app-question {
  margin-top:3.5rem;
  margin-bottom:3.5rem;
  border-bottom:1px solid #c2c2c2;
}

.question {
  font-family: 'Nunito Sans',sans-serif;
  font-size:1.5rem;
  font-weight: bold;
}

.answer {
  font-family: 'Roboto',sans-serif;
  line-height: 2rem;
  margin-bottom:1rem;
}

.spacer{
  padding:2rem;
}

.border-bottom {
  margin-left:2rem;
  margin-right:2rem;
  margin-top:1rem;
  animation: border 10s ease-in infinite alternate
}

.loader {
  position: absolute;
  width:100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

@keyframes border {
  0%{
    border-bottom:3px solid #F03434
  }
  10%{
    border-bottom:3px solid #EB5757
  }
  20%{
    border-bottom:3px solid #D3527F
  }
  30%{
    border-bottom: 3px solid #81D8D0
  }
  40%{
    border-bottom:3px solid #7BEFB2
  }
  50%{
    border-bottom:3px solid #26C281
  }
  60%{
    border-bottom:3px solid #2D9CDB
  }
  70%{
    border-bottom:3px solid #2F80ED
  }
  80%{
    border-bottom:3px solid #9B51E0
  }
  90%{
    border-bottom:3px solid #8A80FF
  }
  100%{
    border-bottom:3px solid #663399
  }
}



/* ====== media query classes for responsive behaviour ===== */
@media only screen and (max-width: 850px) {
  /* hide the links */
  .navbar-links li {
    display: none;
  }

  /* make the toggle appear instead */
  .navbar-collapsible-bars div {
    display: block;
  }

  /* adjust chart size */
  .chart-container{
    width:100%;
    height: 100%;
    margin:2rem;
  }

}

@media only screen and (max-width:500px){

  .chart-container{
    width:100%;
    height: 150%;
    margin:2rem;
  }

  .header {
    font-size:1.2rem;
  }

  .about-container{
    margin-left:10%;
    margin-right:10%;
  }

}
